.navbar {
    background-color: #f9f9f9;
    height: 100vh;
}

.nav-menu {
    background-color: #feb886;
    width: 250px !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-icons {
}

.nav-icons a {
    font-size: 250%;
    align-items: center;
    border-radius: 4px;
}

.nav-icons a > svg:hover {
    background-color: #FED2B2;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    color: #f9f9f9 !important;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 8px;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 25px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #FED2B2 !important;
}

.nav-menu-items {
    width: 100%;
    padding: 0;
}

span {
    margin-left: 16px;
}