@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    background-color: #FFFCF5;
}

.main-container {
    height: 100vh;
}

.home,
.tournament,
.reports,
.weighting,
.draw,
.team-fight
{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.competitorBox{
    min-width: 200px;
    min-height: 60px;
}